body {
    background-color: darkslategrey;
    font-family: "Fredoka", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 400px;
    text-align: center;
}

.btn {
    padding: 15px 50px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-family: "Fredoka", sans-serif;
    font-size: 25px;
    font-weight: 500;
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.name {
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    padding: 5px 10px;
    border: none;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 30px;
}